{% load static %}

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    {% block extra_header %}
    {% endblock extra_header %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    {% if messages %}
    <div class="row">
      <div class="medium-12 columns medium-centered">
	{% for message in messages %}
	<div class="callout radius {% if message.tags %}{{ message.tags }}{% endif %}" data-closable="slide-out-right">
	  <p>{{ message }}</p>
	  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	{% endfor %}
      </div>
    </div>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
