{% extends "general.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block a_1 %}
&#9752
{% endblock %}

{% block body %}
<div class="row">
  <div class="medium-12 columns">
    <form method="get">
      <div class="row">
	<div class="medium-8 columns">
	  {{ form.query }}
	</div>
	<div class="medium-2 columns">
	  <input type="submit" class="button expanded primary radius" value="Filtrar"></input>
	</div>
	<div class="medium-2 columns">
	  <a class="button radius expanded alert" href="{% url 'especies' %}">Clear</a>
	</div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  {% for specie in species %}
  <div class="medium-3 columns">
    <a href="{% url 'videos_especie' specie_id=specie.id %}">
      <img class="thumbnail" src="{{ specie.thumbnail.url }}" height="144"></img>
      <center><span class="label primary">{{ specie.name }}</span></center>
    </a>
  </div>
  {% if forloop.counter|divisibleby:4 %}
</div>
</br>
<div class="row">
  {% endif %}
  {% endfor %}
  {% if user.is_authenticated %}
  <div class="medium-3 columns">
    <a href="{% url 'nova_especie' %}">
      <img class="thumbnail" src="{% static 'plain_plus.png' %}" height="144"></img>
      <p><center>Nova especie</center></p>
    </a>
  </div>
  {% endif %}
</div>
{% endblock body %}
