{% extends "base.html" %}

{% block title %}
Habitat, Foto Trampeo
{% endblock title %}

{% block content %}

<div class="row">
  <div class="medium-10 medium-centered columns">
    <a href="{% url 'benvida' %}"><h1><center>Habitat, Fototrampeo</center></h1></a>
    <p>
      <center>
	O Grupo Naturalista Habitat emprega habitualmente unha técnica de estudo para detectar e monitorizar especies chamado foto-trampeo. A mesa de traballo consistiría en optimizar o seu traballo cunha aplicación web que permita facer navegábel o seu arquivo de imaxes/vídeos categorizado, e/ou facer un prototipo libre da cámara camuflada que empregan para detectar a presencia de animais e capturar as imaxes.
      </center>
    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="medium-12 columns">
    <div class="row">
      <div class="medium-3 columns">
	<ul class="menu vertical">
	  <li>
	    <a class="button  primary hollow" href="{% url 'especies' %}">{% block a_1 %}{% endblock %} Especies</a>
	  </li>
	  <li>
	    <a class="button primary hollow" href="{% url 'timeline' %}">{% block a_2 %}{% endblock %}Data</a>
	  </li>
	  {% if user.is_authenticated %}
	  <li>
	    <a class="button alert hollow" href="{% url 'logout' %}">Log out</a>
	  </li>
	  {% else %}
	  <li>
	    <a class="button alert hollow" href="{% url 'login' %}">Log in</a>
	  </li>
	  {% endif %}
	</ul>
      </div>
      <div class="medium-9 columns">
	{% block body %}
	{% endblock body %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
