{% extends "general.html" %}
{% load static %}

{% block title %}
Habitat, Foto Trampeo
{% endblock title %}

{% block body %}
<div class="row media-object">
  <div class="medium-12 columns media-object-section">
    <video width="720" height="405" controls>
      <source src="{% static 'intro.mp4' %}">
    </video>
  </div>
</div>
{% endblock body %}
