{% extends "general.html" %}

{% block body %}
<div class="row">
  <div class="medium-12 columns">
    <div class="callout alert">
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again</p>
      {% endif %}
      <form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="row">
	  <div class="medium-6 columns medium-centered">
	    {{ form.username.label_tag }}
	    {{ form.username }}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-6 columns medium-centered">
	    {{ form.password.label_tag }}
	    {{ form.password }}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-6 columns medium-centered">
	    <input class="button success" type="submit" value="login" />
	    <input type="hidden" name="next" value="{{ next }}" />
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}

