{% extends "general.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block body %}
<div class="callout alert">
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert callout">
      <p><i class="fi-alert"></i> {{ form.non_field_errors }}</p>
    </div>
    {% endif %}
    <div class="row">
      <div class="small-6 columns">
	<label>Nome</label>
	  {{ form.name }}
	<span class="form-error">
	  {{ form.name.errors }}
	</span>
      </div>
      <div class="small-6 columns">
	<label>Icono</label>
	  {{ form.thumbnail }}
	<span class="form-error">
	  {{ form.thumbnail.errors }}
	</span>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
	<label>
	  {{ form.nombre_cientifico.label }}
	</label>
	  {{ form.nombre_cientifico }}
	<span class="form-error">
	  {{ form.nombre_cientifico.errors }}
	</span>
      </div>
      <div class="small-6 columns">
	<label>Atribuciones icono (opcional)</label>
	{{ form.attributions }}
	<span class="form-error">
	  {{ form.attributions.error }}
	</span>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
	<label>
	  {{ form.wikipedia_link.label }}
	</label>
	  {{ form.wikipedia_link }}
	<span class="form-error">
	  {{ form.wikipedia_link.errors }}
	</span>
      </div>
    </div>
    <div class="row">
      <fieldset class="small-12 columns">
	<input class="button radius button succeess expanded" type="submit" value="Crear"></input>
      </fieldset>
    </div>
  </form>
</div>
{% endblock body %}
