{% extends "general.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block body %}
<div class="row">
  <div class="medium-12 colums">
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert callout">
	<p><i class="fi-alert"></i> {{ form.non_field_errors }}</p>
      </div>
      {% endif %}
      <fieldset class="callout alert">
	<legend>Datos fixeiro</legend>
	<div class="row">
	  <div class="medium-6 columns">
	    <label>{{ form.title.label }}</label>
	    {{ form.title }}
	    <span class="form-error">
	      {{ form.title.errors }}
	    </span>
	  </div>
	  <div class="medium-6 columns">
	    <label>{{ form.source_file.label }}</label>
	    {{ form.source_file }}
	    <span class="form-error">
	      {{ form.source_file.errors }}
	    </span>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-6 columns">
	    <label>{{ form.tags.label }}</label>
	    {{ form.tags }}
	    <span class="form-error">
	      {{ form.tags.errors }}
	    </span>
	  </div>
	  <div class="medium-6 columns">
	    <label>{{ form.description.label }}</label>
	    {{ form.description }}
	    <span class="form-error">
	      {{ form.description.errors }}
	    </span>
	  </div>
	</div>
      </fieldset>
      <fieldset class="callout alert">
	<legend>Metadatos</legend>
	<div class="row">
	  <div class="medium-6 columns">
	    <label>{{ form.created_at.label }}</label>
	    {{ form.created_at }}
	    <span class="form-error">
	      {{ form.created_at.errors }}
	    </span>
	  </div>
	  <div class="medium-6 columns">
	    <label>{{ form.id_camara.label }}</label>
	    {{ form.id_camara }}
	    <span class="form-error">
	      {{ form.id_camara.errors }}
	    </span>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-6 columns">
	    <label>{{ form.ayuntamiento_camara.label }}</label>
	    {{ form.ayuntamiento_camara }}
	    <span class="form-error">
	      {{ form.ayuntamiento_camara.errors }}
	    </span>
	  </div>
	  <div class="medium-6 columns">
	    <label>{{ form.localizacion_camara.label }}</label>
	    {{ form.localizacion_camara }}
	    <span class="form-error">
	      {{ form.localizacion_camara.errors }}
	    </span>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-6 columns">
	    <label>{{ form.tipo_habitat.label }}</label>
	    {{ form.tipo_habitat }}
	    <span class="form-error">
	      {{ form.tipo_habitat.errors }}
	    </span>
	  </div>
	  <div class="medium-6 columns">
	    <label>{{ form.grupo_faunistico.label }}</label>
	    {{ form.grupo_faunistico }}
	    <span class="form-error">
	      {{ form.grupo_faunistico.errors }}
	    </span>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-6 columns">
	    <label>{{ form.numero_ejemplares.label }}</label>
	    {{ form.numero_ejemplares }}
	    <span class="form-error">
	      {{ form.numero_ejemplares.errors }}
	    </span>
	  </div>
	  <div class="medium-6 columns">
	    <label>{{ form.notas_adicionales.label }}</label>
	    {{ form.notas_adicionales }}
	    <span class="form-error">
	      {{ form.notas_adicionales.errors }}
	    </span>
	  </div>
	</div>
      </fieldset>
      <fieldset class="callout alert">
	<div class="row">
	  <div class="medium-4 medium-centered">
	    <input class="button radius success expanded" type="submit" value="Añadir">
	  </div>
	</div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock body %}
