{% extends "general.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block a_2 %}
&#9752
{% endblock %}
{% block extra_header %}
<script src="{% static 'js/vis.min.js' %}"></script>
<link title="timeline-styles" rel="stylesheet" href="{% static 'css/vis.min.css' %}">
{% endblock extra_header %}

{% block body %}
<div class="row">
  <div class="medium-12 columns">
    <div id='visualization' style="width: 100%; height:300px;">
    </div>
  </div>
</div>
{% endblock body %}

{% block extra_js %}

<script type="text/javascript">
  $(document).ready(function(){
  $.getJSON("{% url 'timeline_json' %}", {}, function(data){
  var container = document.getElementById('visualization');
  var items = new vis.DataSet(data);
  var options = { "minHeight": 300,
  "orientation": "top",
  
  };
  var timeline = new vis.Timeline(container, items, options);
  });
});
</script>
{% endblock extra_js %}
