{% extends "general.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block body %}
<div class="row media-object">
  <div class="medium-12 columns media-object-section">
    <video width="640" height="480" controls>
      <source src="{{ video.source_file.url }}">
    </video>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns medium-offset-6">
    {% for tag in video.tags.names %}
    <span class="label alert">{{ tag }}</span>
    {% endfor %}
  </div>
</div>
<br />
<div class="row">
  <div class="medium-12 columns">
    <fieldset class="callout primary">
      <legend><h3>Metadata</h3></legend>
      <div class="row">
	<div class="columns medium-12">
	  <p><strong>Descrición:</strong> {{ video.description }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  <p><strong>ID Cámara:</strong> {{ video.id_camara }}</p>
	</div>
	<div class="medium-6 columns">
	  <p><strong>Ayuntamiento cámara:</strong> {{ video.ayuntamiento_camara }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  <p><strong>Localización cámara:</strong> {{ video.localizacion_camara }}</p>
	</div>
	<div class="medium-6 columns">
	  <p><strong>Tipo de habitat:</strong> {{ video.tipo_habitat }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  <p><strong>Grupo faunístico</strong> {{ video.grupo_faunistico }}</p>
	</div>
	<div class="medium-6 columns">
	  <p><strong>Número de ejemplares</strong> {{ video.numero_ejemplares }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-12 columns">
	  <p><strong>Notas adicionales:</strong> {{ video.notas_adicionales }}</p>
	</div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock body %}
