{% extends "general.html" %}

{% block title %}
{{ title }}
{% endblock title %}}

{% block body %}
<div class="callout success">
  <div class="row">
    <div class="medium-3 columns medium-centered">
      <img class="thumbnail" src="{{ instance.thumbnail.url }}" height="144"></img>
      {% if instance.attributions %}<center><span class="small label hollow">Picture by {{ instance.attributions }}</span><center>{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="medium-10 columns medium-centered">
      <p><center>{{ instance.name }} - {{ instance.nombre_cientifico }} - <a href="{{ instance.wikipedia_link }}">wikipedia</a></center></p>
    </div>
  </div>
  {% for video in videos %}
  <div class="row">
    <div class="medium-12 columns">
      <a class="button primary expanded" href="{% url 'ver_video' video_id=video.id %}">{{ video.title }} - {{ video.created_at }}</a>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-offset-6 columns">
      {% for tag in video.tags.names %}<span class="alert label">{{ tag }}</span>&nbsp{% endfor %}
    </div>
  </div>
  <br />
  {% empty %}
  <div class="row">
    <div class="medium-12 columns">
      <p>No hay videos para esta especie</p>
    </div>
  </div>
  {% endfor %}
  <br />
  {% if user.is_authenticated %}
  <div class="row">
    <div class="medium-4 medium-offset-8 columns">
      <a class="button alert expanded" href="{% url 'novo_video' specie_id=instance.id %}">Añadir un video</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock body %}
  
